@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAFAFA;
}

@layer base {
    ::-webkit-scrollbar {
        @apply w-[8px];
    }

    ::-webkit-scrollbar-track {
        @apply bg-[#212121];
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-[#FDC43B] rounded-lg;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-[#DEB451];
    }
}